body {font-family: Verdana; color: #BBB; background-image: url(images/body_bg.jpg); background-repeat: repeat-x; background-color: #0f1012; margin: 0; padding: 0; font-size: 12px;}

/* ------ General Styles ------ */
hr {color: #BBB; height:1px;}

a {color: #000; text-decoration: none; font-weight: bold; background-color: transparent;}
a:hover {color: #555;}

ul {margin: 0px; padding: 0px; list-style: square inside; text-align: left; color: #BBB; line-height: 18px;}
li {font-family: Verdana; color: #000;}
li a{font-family: Verdana; font-size: 9px;}

table {width: 100%;}
tr, td {padding: 0px; vertical-align: top;}

textarea, select, input  {background-color: #bbb; color: #000; font-size: 12px; border: 1px solid #000000;}
textarea {width: 99%; overflow: auto;}
textarea:hover, input:hover {background-color: #ccc;}

/* ------ Main/User Menu Content ------ */
#mainmenu a, td#mainmenu a {display: block; font-size: 14px; padding: 5px; color: #444; border-bottom: 1px dashed #777;}
#mainmenu a:hover, td#mainmenu a:hover {color: #000;}
#usermenu a, td#usermenu a {display: block; font-size: 14px; padding: 5px; color: #CCC; border-bottom: 1px dashed #777;}
#usermenu a:hover, td#usermenu a:hover {color: #FFF;}

/* ------ Table Styles ------ */
.nav_table{background-color: transparent; width: 1000px; height: 30px; text-align: center;color: #fff;}
#navs {text-align: center; margin-left: autol margin-right: auto;width: 1000px;}
#navrow {float: left;list-style-type: none;margin: 0;padding: 0;width: 1000px;height: 30px;text-align: center;}
#navrow li {height: 44px;display: block;text-align: center;float: left;}
#navrow li img {padding: 0;}
#navrow li a {color: #DDD;font-size: 14px;text-align: center;display: block;padding-top: 15px;padding-left: 8px;padding-right: 8px;}
#navrow li a:hover {color: #FFF;}

.head_table{background-color: transparent; width: 1000px; height: 177px; text-align: left; border: 0; overflow: hidden; background-image: url(images/head_bg.jpg); background-repeat: no-repeat; background-position: center; color: #fff; font-size: 26px; padding-top: 75px;}
.head_table a, .head_table a img, .head_table a img:hover  {border: 0;}
.head_table a {float: left; color: #FFF;}

.body_table{background-color: #0f1012;width: 100%;}

.main_table{background-color: #0f1012;width: 1000px;}

/* ------ Block Styles ------ */
td#leftcolumn {width: 184px; font-size:12px; background-color: transparent; padding-right: 5px;}
td#leftcolumn div.blockContent {width: 100%; background-color: transparent; color: #BBB; padding-top: 2px; padding-bottom: 4px; }
td#leftcolumn a {color: #ccc;} td#leftcolumn a:hover {color: #fff;}

td#centercolumn {background-color: #d1e2ea;}

td#centerCcolumn, #bottomCcolumn {}
td#centerCcolumn div.blockTitle, #bottomCcolumn .blockTitle {color: #000; text-align:left; font-weight: bold; font-size: 12px; background-color: transparent; border-bottom: 1px dashed #000;}
td#centerCcolumn div.blockContent, #bottomCcolumn .blockContent {width: 100%; background-color: transparent; color: #000; padding-top: 2px; padding-bottom: 4px;}

td#centerLcolumn, #bottomLcolumn {width: 50%; padding-left: 1px; padding-right: 3px;}

td#centerLcolumn div.blockTitle, #bottomLcolumn .blockTitle {color: #000; text-align:left; font-weight: bold; font-size: 12px; background-color: transparent; padding-right: 2px; border-bottom: 1px dashed #000;}
td#centerLcolumn div.blockContent, #bottomLcolumn .blockContent {background-color: transparent;	color: #000; padding-top: 2px; padding-bottom: 4px;}

td#centerRcolumn, #bottomRcolumn {width: 50%; padding-right: 1px; padding-left: 3px;}

td#centerRcolumn div.blockTitle, #bottomRcolumn .blockTitle {color: #000; text-align:right; font-weight: bold; font-size: 12px; background-color: transparent; padding-right: 2px; border-bottom: 1px dashed #000;}
td#centerRcolumn div.blockContent, #bottomRcolumn .blockContent {background-color: transparent;	color: #000; padding-top: 2px; padding-bottom: 4px;}

td#rightcolumn {width: 184px; font-size:12px; background-color: transparent; padding-right: 5px; padding-left: 5px;}
td#rightcolumn div.blockContent {width: 100%; background-color: transparent; color: #BBB; padding-top: 2px; padding-bottom: 4px;}
td#rightcolumn a {color: #ccc;} td#rightcolumn a:hover {color: #fff;}

/* ------ Special Block Styles ------ */
td#leftcolumn div.blockTitle, td#rightcolumn div.blockTitle {font-size: 14px; color: #dfda4a; text-align: left; font-weight: bold; background-color: transparent; padding-right: 2px; border-bottom: 1px dashed #dfda4a;}
td#leftcolumn div.blockTitle2, td#rightcolumn div.blockTitle2 {font-size: 14px; color: #c4f953; text-align: left; font-weight: bold; background-color: transparent; padding-right: 2px; border-bottom: 1px dashed #c4f953;}
td#leftcolumn div.blockTitle3, td#rightcolumn div.blockTitle3 {font-size: 14px; color: #348e5a; text-align: left; font-weight: bold; background-color: transparent; padding-right: 2px; border-bottom: 1px dashed #348e5a;}
td#leftcolumn div.blockTitle4, td#rightcolumn div.blockTitle4 {font-size: 14px; color: #1d9685; text-align: left; font-weight: bold; background-color: transparent; padding-right: 2px; border-bottom: 1px dashed #1d9685;}
td#leftcolumn div.blockTitle5, td#rightcolumn div.blockTitle5 {font-size: 14px; color: #087e8a; text-align: left; font-weight: bold; background-color: transparent; padding-right: 2px; border-bottom: 1px dashed #087e8a;}

td#leftcolumn div.MainblockTitle, td#rightcolumn div.MainblockTitle {font-size: 14px; color: #444; text-align: left; font-weight: bold; background-color: transparent; padding-left: 5px; background-image: url(images/mainmenu_t.jpg); background-repeat: no-repeat; background-position: left;}
td#leftcolumn div.MainblockContent, td#rightcolumn div.MainblockContent {min-height: 106px; background-color: #7aa4bc; color: #444; padding-top: 2px; padding-bottom: 4px; background-image: url(images/mainmenu_c.jpg); background-repeat: no-repeat; background-position: top;}
td#leftcolumn div.MainblockFooter, td#rightcolumn div.MainblockFooter {height: 11px; background-color: transparent; background-image: url(images/mainmenu_b.jpg); background-repeat: no-repeat; background-position: left;}

td#leftcolumn div.UserblockTitle, td#rightcolumn div.UserblockTitle {font-size: 14px; color: #FFF; text-align: left; font-weight: bold; background-color: transparent; padding-left: 5px; background-image: url(images/purple_t.jpg); background-repeat: no-repeat; background-position: center;}
td#leftcolumn div.UserblockContent, td#rightcolumn div.UserblockContent {min-height: 132px; width: 100%; background-color: #583369; color: #FFF; padding-top: 2px; padding-bottom: 4px; background-image: url(images/purple_c.jpg); background-repeat: no-repeat; background-position: top;}
td#leftcolumn div.UserblockFooter, td#rightcolumn div.UserblockFooter {height: 6px; background-color: transparent; background-image: url(images/purple_b.jpg); background-repeat: no-repeat; background-position: center;}

td#leftcolumn div.OnlineblockTitle, td#rightcolumn div.OnlineblockTitle {font-size: 14px; color: #444; text-align: left; font-weight: bold; background-color: transparent; padding-left: 5px; padding-top: 2px;}
td#leftcolumn div.OnlineblockContent, td#rightcolumn div.OnlineblockContent {height: 89px; width: 100%; background-color: transparent; font-size: 14px; color: #fff; background-image: url(images/online_bg.jpg); background-repeat: no-repeat; background-position: center;}

td#leftcolumn div.LoginblockTitle, td#rightcolumn div.LoginblockTitle {font-size: 14px; color: #FFF; text-align: left; font-weight: bold; background-color: transparent; padding-left: 5px; background-image: url(images/login_t.jpg); background-repeat: no-repeat; background-position: center;}
td#leftcolumn div.LoginblockContent, td#rightcolumn div.LoginblockContent {min-height: 132px; width: 100%; background-color: transparent; color: #FFF; font-size: 12px; padding-top: 2px; padding-bottom: 4px; background-image: url(images/login_c.jpg); background-repeat: repeat-y; background-position: center;}
td#leftcolumn div.LoginblockFooter, td#rightcolumn div.LoginblockFooter {height: 10px; background-color: transparent; background-image: url(images/login_b.jpg); background-repeat: no-repeat; background-position: center;}
/* ------ Module Output Styles ------ */
div#content { color: #000; }
